<h4>Rename Task List</h4>
<%= form_for @tasklist  do |f| %>
  <div class="form-new-list">
    <%= f.label(:title, "Title") %>
    <%= f.text_field :title %>

  </div>
  <%= f.submit "Ok", class: "btn btn-success" %>
  <%= button_to "Cancel", root_path, method: :get %>
<% end %>
