<h4>Create a New Task Here</h4>
<%= form_for @task  do |f| %>
  <div class="form-new-list">
    <%= f.label(:title, "Title") %>
    <%= f.text_field :title %>


    <%= f.label:Decription %>
    <%= f.text_field :description %>

    <%= f.submit "Submit", class: "btn btn-success" %>
  </div>
<% end %>
  
